.header
  display flex
  align-items center
  justify-content flex-start
  font-size 15px
  gap 20px
  padding 10px 20px
  width 100%
  background #ebf4f5
  box-shadow 0 6px 12px rgba(0,0,0,0.15)
  position fixed
  top 0
  left 0
  z-index 1000
  height 70px

.header-left
  display flex
  align-items center
  gap 15px

.logo
  width 40px
  height auto

.header-link
  color #333
  text-decoration none
  font-size 22px
  font-weight bold
  h2
    margin 0
  &:hover
   color inherit

.home-button
  padding 10px 20px
  margin-left 10px
  background #ebf4f5
  color #333
  font-weight bold
  border-radius 25px
  border 1px solid rgba(0,0,0,0.15)
  text-decoration none
  transition all 0.3s ease
  box-shadow 0 2px 4px rgba(0,0,0,0.1)
  &:hover
    background #dfe6e8
    transform translateY(-2px)
    box-shadow 0 4px 8px rgba(0,0,0,0.15)
